#artworks {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: rgb(251, 245, 221)         ;
}

#artworks .artworkLogo {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: x-large;
  margin-top: 20px;
  color: #262529;
}
.artworkLogo:hover{
    box-shadow:  5px 7px 5px 1px #81805E ;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    cursor: pointer;
}

#artworks p {
  font-family: "Pacifico", cursive;
  font-weight: 200;
  margin-top: 8px;
  color: #6d5508;
  padding-bottom: 16px;
}

.raw {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
  background-color: rgb(251, 245, 221);
}
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.painting {
  position: relative;
  width: 100%;
  margin-bottom: 3px;
}
.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  height: 70%;
border-bottom-right-radius:10px ;
border-bottom-left-radius:10px ;

  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.painting:hover .overlay {
    opacity: 1;
  }
  
.descrip h3 {
  color: #b99e24;
  font-family: "Pacifico", cursive;
}
.descrip {
  color: #f9f1d3;
  font-family: "Courier New", Courier, monospace;
  width: 90%;
  font-size: 17px;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}