* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

header {
  /* background-color:#0A1F24; */
  background-color: #16404D;
  display: flex;
  width: 100%;
  height: 65px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
}
.logCont {
  display: flex;
}
nav {
  display: flex;
}
nav a {
  padding: 0 30px;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  color:#DDA853;
  font-size: 20px;
  /* transition: 0.40s ease-in; */

}
nav a:hover{
    color: #b99e24;
}
nav a:active{
    color: yellow;

}
#logo {
  display: inline-block;
  font-family: "Pacifico", cursive;
  font-weight: 190;
  font-style: normal;
  color:#DDA853;
  /* color: #AC540C; */
}

.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(images/starry.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}
.hero .intro_text {
  font-family: "Pacifico", cursive;
  align-items: center;
  font-weight: 400;
  margin-top: 30px;
  font-size: xx-large;
  font-style: italic;
  color: rgb(230, 213, 192);
  max-width: 800px;
  
}



/*  explore btn*/
#explore_btn {
  background-color: #b99e24;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: "Courier New", Courier, monospace;
  margin-top: 150px;
  font-size: 1rem;
  font-weight: 550;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#explore_btn:focus {
  outline: 0;
}

#explore_btn:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

#explore_btn:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  #explore_btn {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}


